@model IEnumerable<Product>
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.AspNetCore.Http.Extensions;

@{
    ViewData["Title"] = "Home Page";
}

<img class="promotion-banner" src="https://image.ibb.co/iNQ4qV/22017-christmas-website-banner-compressor.jpg" alt="2017-christmas-website-banner-compressor" border="0">

<form class="form-inline mt-5 mb-5" method="get">
    <div class="form-group">
        <label for="q" class="mr-2">Search</label>
        <input type="text" value="@(Context.Request.Query["q"])" class="form-control" name="q" placeholder="Enter search query" />
    </div>
    <div class="form-group">
        <label for="c" class="ml-2 mr-2">Category</label>
        @Html.DropDownList("c", new SelectList(ViewBag.categories as System.Collections.IEnumerable, "Id", "Title", Context.Request.Query["c"]), "Select a Category", new { @class = "form-control" })
    </div>
    <button class="btn btn-primary btn-sm ml-2" type="submit">GO</button>
    @{
        if (ViewBag.hasFilter)
        {
            <a asp-action="Index" class="ml-2">Reset</a>
        }
    }
</form>

<div>
    @{ int i = 0; }
    @foreach (var item in Model)
    {
        @if (i % 4 == 0)
        {
            @:<div class="row mb-5">
        }

        <div class="col-md-3">
            <a asp-action="Details"
               asp-route-id="@(item.Id)"
               class="card-link">
                <div class="card">
                    <img class="card-img-top" src="@("https://picsum.photos/260/150/?random&" + i)" alt="@(item.Title)">
                    <div class="card-body">
                        <h4 class="card-title text-capitalize">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h4>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <div class="rating">
                            @for (var k = 1; k <= item.Rating; k++)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6">

                                @{
                                    if (item.DiscountPrice > 0)
                                    {
                                        <s>@String.Format("${0:n}", item.Price)</s>
                                    }
                                    else
                                    {
                                        @String.Format("${0:n}", item.Price)
                                    }
                                }
                            </div>
                            <div class="col-sm-6 text-right">
                                @{
                                    if (item.DiscountPrice > 0)
                                    {
                                        <span class="text-danger"><strong>@String.Format("${0:n}", item.DiscountPrice)</strong></span>

                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>

        @if (i % 4 == 3)
        {
        @:</div>
    }

        i++;
    }

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @{
                var query = QueryHelpers.ParseQuery(Context.Request.QueryString.ToString());
                var items = query.SelectMany(x => x.Value, (col, value) => new KeyValuePair<string, string>(col.Key, value)).ToList();
                items.RemoveAll(x => x.Key == "p");
            }
            @for (var j = 1; j < ViewBag.NumberOfPages; j++)
            {

                var qb = new QueryBuilder(items);
                qb.Add("p", j.ToString());
                var url = qb.ToQueryString();
                <li class="@(j == ViewBag.CurrentPage ? "active" : "")">
                    <a href="@(url)">@(j)</a>
                </li>
            }
        </ul>
    </nav>
</div>