@model IEnumerable<TechnixShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-9"><h2>Product management</h2></div>
    <div class="col-md-3 mt-3">
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-info">Create New</a>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-8">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th class="col-md-2">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td class="text-center">
                <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
